.aboutContainer {
    height: 100%;
    width: 100%;
  .topSection {
    position: relative;
    height: 50%;

    .content {
        width: 400px;
        color: #ffffff;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        text-align: center;
        padding: 10px;
        margin: 0 40px 0 0;
        font-family: serif;
        font-size: 4rem;

        h3{
            font-weight: 100;
            text-align: left;
        }
      }
}
.bottomSection {
    height: 50%;
    display: flex;

    .bottomLeft{
        width: 25%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;

        .content{
        width: 100%;
        color: #ffffff;
        position: absolute;
        padding: 0 30px;
        font-family: serif;
        display: flex;
        justify-content: center;
        align-items: c;
        flex-direction: column;
       

        h3{
            font-weight: 100;
            text-align: left;
            font-size: 4rem;
        }
        p{
            font-size: 1rem;
            text-align: left;
        }
        }
        
    }
    .bottomRight{
        height: 100%;
        width: 75%;
        display: flex;
        align-items: end;
        gap: 30px;
        padding: 0 0 10px 20px;
        
    }
  }
}


  
  
  
  
  
  