.homeContainer {
  .navigationBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    color: black;
    font-weight: 500;
    padding: 10px 20px 10px 40px;
    display: flex;
    justify-content: space-between;
    // border: 2px solid red;
    text-align: center;


    .logo{
        img {
            height: 60px;
        }
    }
    .navList {
      display: flex;
      justify-content: center;
      list-style: none;
      padding: 0;

      li {
        margin: 10px 30px;
        cursor: pointer;
        display: flex;
        align-items: center;
        transition: background-color 0.3s ease;
        padding: 0 20px;
        border-radius: 20px;

        &:hover {
            background-color: rgba(255, 207, 39, 0.65);
          }
      }
    }
  }

  .section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: #f0f0f0;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .about {
    height: 150vh;
    background-image: url("https://cutewallpaper.org/21/hd-wallpaper-for-computer-screen/Wallpaper-Computer-HD-Wallpapers-For-Mobile-D-uamp-K-.jpg");
  }
  .destinations {
  }
  .experiences {
  }
  .travelStyles {
  }
  .contact {
  }
}
