*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

/* For WebKit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px; /* Change the width to your desired value */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Change the color as needed */
}

/* For Firefox */
body {
  scrollbar-width: thin; /* Change "thin" to "none" to completely hide the scrollbar */
}

body::-webkit-scrollbar {
  width: 10px; /* Change the width to your desired value */
}

body::-webkit-scrollbar-thumb {
  background-color: #888; /* Change the color as needed */
}

